:root {
  --green :hsl(160deg, 100%, 30%);
  --gold-light: hsl(45deg, 100%, 50%);
  --gold-dark: hsl(45deg, 100%, 40%);
  --gray-black: hsl(0deg, 0%, 0%);
  --gray-very-dark: hsl(0deg, 0%, 10%);
  --gray-dark: hsl(0deg, 0%, 30%);
  --gray-medium: hsl(0deg, 0%, 40%);
  --gray-light: hsl(0deg, 0%, 60%);
  --gray-white: hsl(0deg, 0%, 100%);

  --f-s: 1rem;
  --f-m: 1.25rem;
  --f-l: 1.5rem;
  --f-xl: 2rem;

  --s-xs: 8px;
  --s-s: 16px;
  --s-m: 24px;
  --s-l: 32px;
  --s-xl: 48px;
  --s-2xl: 64px;
  --s-3xl: 96px;
  --s-4xl: 128px;
}

* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

main{
  padding: var(--s-l) 0;
  background-color: var(--gray-light);
}

.max-width-wrapper {
  max-width: 750px;
  margin: 0 auto;
  background-color: var(--gray-white);
}

header {
  border-bottom: var(--gray-medium) solid var(--s-xs);
}

h1{
  font-size: var(--f-xl);
}

h2 {
  width: fit-content;
  background-color: var(--gold-light);
  border-bottom: var(--s-xs) solid var(--gold-dark);
  padding: var(--s-m);
  margin-left: -24px;
  font-size: var(--f-l);
}

.intro-chunk {
  max-width: 328px;
  padding: var(--s-s);
}

strong{
  color: var(--green);
}

.card {
  padding: var(--s-s); 
  border-bottom: var(--gray-medium) solid var(--s-xs);
}

/* Add styles here! */


/*

issues with solution.. padding on top and bottom of elements needs to be larger
default font-size needs to be 18px (not browser inherited).

Font of header p needs to be 1.25rem

uses negative margin to align component with page instead of consistent
padding and in all components. Allow component to remain in isolation. 

negative margin allows us to /eat into/ max width wrapper. 

sneaky trick. margin/padding canceling to align items
 


Thinks I got right...
Border bottom, box and general styles.
*/